 /* Estilos CSS*/
 body {
    /*Estilos para el cuerpo del documento*/
    font-family: Arial, Helvetica, sans-serif;
    /* Asignao el tipo de fuente*/
    line-height: 1.6;
    /* Altura de interlineado*/
    margin: 0;
    /*Eliminado el margen predeterminado*/
    padding: 0;
    /* Elimina el paddig predeterminado*/
    background-color: #f4f4f4;
    /*Color de fondo para el body*/
    background: url("img/atardecer.jpg") no-repeat center center fixed; /*imagen de fondo*/
    background-size: cover; /*ajusta el tamaño del fondo*/
    color: #333;
 }

header,
footer {
    /*Estilos para la cabecera tanto como el pie de pagina*/
    background-color: rgba(51, 51, 51, 0.9);
    /*color de fondo para el encaebezado y pie de pagina*/
    color: white;
    /*Color de encabezado y pie de pagina*/
    text-align: center;
    /*Alineamos el texto al centro*/
    padding: 3em 0;
    /*asignar paffing*/
    margin-top: 50px;
}
header h1{
    margin: 0; /*Eliminando el margen*/
}

nav {
    background-color: rgba(68, 68, 68, 0.9);
    /*Color de fondo de la barra de navgacion*/
    color: white;
    /*Color del textp de la barra al centro*/
    text-align: center;
    /*alineamos el textp al centro*/
    padding: 1em 0;
    /*asigna padding*/
    position: fixed; /*fijando la posicion*/
    width: 100%; /*Ancho completo*/
    top: 0; /*posicion de la parte superior*/
    z-index: 1000; /*capas superiores*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9); /*sombra*/
}

nav a {
    color: white;
    /*Color de txto para los enlaces*/
    text-decoration: none;
    /*Elimino el subrayado de los enlaces*/
    margin: 0 15px;
    /*Margen para los elaces*/
    font-weight: bold; /*negrita*/
    transition: color 0.3s; /*transicion del color*/
}

nav a:hover {
    color: gray; /* color al pasar el cursor*/
    /*text-decoration: underline;*/
    /*Agrega subrayado a los enlaces al pasar el cursor*/
}

.container {
    background-color: white;
    /*Color de fonde del contenedor*/
    width: 70%;
    /*Ancho del contenedor*/
    margin: auto;
    /*margen del contenedor*/
    padding: 100px;
    /*padding interno del contenedor*/
    overflow: hidden;
    /*conrolar el desbordamiento*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /*Sobra para darle efecto de profundidad*/
    margin-top: 15px; /*Margen superior*/
    border-radius: 15px; /*bordes redondeados*/
    animation: fadeIn 1.5s; /*asignando fadeIn y el tiempo en el que se va a mostrar*/
}

img {
    max-width: 100%;
    /*Hamcho maximo de la imagen*/
    height: 700px;
    /*Altura automatica para la imagen*/
    display: block;
    /*Muestre la imagen como un bloque*/
    margin: auto;
    /*Centra la imagen horizontalmente*/
    border-radius: 50px; /*borde de la imagen*/
    box-shadow:  0 0 10px gray; /*sombra*/
}
@keyframes fadeIn{ /*FadeIn para el container*/
    from{
        opacity: 0; /*Inicia sesion*/
    }
    to{
        opacity: 1; /*TERMINA EL FADEIN*/
    }
}

table {
    width: 100%;
    /*ancho de la tabla*/
    border-collapse: collapse;
    /*colapsa los bordes de la tabla*/
    margin: 20px 0;
    /*margen vertical de la tabla*/
}

table th,
td {
    border: 1px solid #ddd;
    /*Bordes de la tabla*/
    padding: 12px; /*relleno*/
    text-align: left; /*Alineacion a la izquierda del texto adentro de la celda*/
}

th,
td {
    padding: 10px;
    /*Modificando el paddig interno de las celdas*/
    text-align: left;
    /*alineacion a la izquierda del texto dentro de la celdas*/
}

th {
    background-color: #333;
    /*color del encabezado*/
    color: white;
    /*color del texto para el encabezado*/
}

.social-icons{
    margin: 20px; /*margenes*/
    text-align: center; /*centrado*/
}
.social-icons a {
    margin: 0 10px; /* margenes laterales*/
    color: #444; /*color del icono*/
    font-size: 1.5em; /*tamaño del icono*/
    transition: color 0.3s, transform 0.3s; /*transiciones*/
}
.social-icons a:hover{
    color: #000; /*color al pasar el raton*/
    transform: scale(1.1); /*escala */
}

form{
    background-color: #f9f9f9; /*color de fondo gris claro*/
    padding: 20px; /*relleno*/
    border-radius: 8px; /*Bordes curveados*/
    box-shadow: 0 0 20px gray; /*sombra*/
}
form label{
    display: block; /*se muestra como bloque*/
    margin-bottom: 5ox; /*clnfigurando el marfen inferior*/
    font-weight: bold; /*formato de fuente negrita*/
}
form input,
form textarea{
    width: calc(100% - 22px); /*Ancho de espacio para escribir*/
    padding: 10px; /*relleno*/
    margin-bottom: 10px; /* margen inferior*/
    border: 1px solid #ccc; /*Borde y color*/
    border-radius: 5px; /*Borde curveado*/
}
form input[type="submit"]{
    background-color: #333; /*color de fondo*/
    color: white; /*color de texto blanco*/
    border: none; /*sin borde */
    cursor: pointer; /*cursor mano apuntando*/
    transition: background-color 0,3; /*transicion de color */
    padding: 10px 20px; /*relleno*/
}
form input[type="submit"]:hover{
    background-color: #555; /*FONDO AL PASAR EL CURSOR*/ 
}

.testimonials{
    background-color: #f1f1f1; /*fondo gris claro*/
    padding: 20px; /*relleno*/
    margin: 20px; /*margenes*/
    border-radius: 10px; /*bordes curveados*/
    box-shadow: 0 0 15px gray; /*sombra*/
}
 
.testimonial{
    margin-bottom: 20px; /*margen inferior*/
}
.testimonial p{
    font-style: italic; /*tecto cursuva*/
}
.testimonial .author{
    text-align: right; /*alineacion hacia la deecha*/
    font-weight: bold; /*negrita*/
}
